/* reset.css is here */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
fieldset,
img {
	border: 0;
}
figure {
	margin: 0;
}
img {
	border: 0;
	max-width: 100%;
	display: block;
	height: auto;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}
q:before,
q:after {
	content: '';
}
header,
nav,
section,
article,
aside,
footer,
hgroup,
figure,
main {
	display: block;
}
a {
	text-decoration: none !important;
	display: block;
	outline: none;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.no_bor {
	border: 0 none !important;
}
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.clear {
	content: '';
	clear: both;
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 0;
}
.clearfix:after {
	content: '';
	clear: both;
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 0;
}
.btn:focus {
	color: #fff;
}
.doit-clr {
	color: #fdd957;
	display: inline-block;
}
/* reset.css ends here */
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'proxima-nova-medium';
	src: url('../fonts/proxima-nova-medium/proxima-nova-medium.woff2') format('woff2'),
		url('../fonts/proxima-nova-medium/proxima-nova-medium.woff') format('woff'),
		url('../fonts/proxima-nova-medium/proxima-nova-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
}

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Cairo', sans-serif;*/

.wrapper {
	width: 100%;
	margin: 0 auto;
}
.container {
	max-width: 1627px;
	margin: 0 auto;
}

nav > ul > li > a:hover {
	color: #ffffff !important;
}
header {
	background: #222222;
	padding: 26px 30px;
	z-index: 99;
	position: relative;
}
.header-lft {
	float: left;
	width: 42%;
	display: inline-block;
}
.header-lft {
	float: left;
	width: 42%;
	display: inline-block;
}
.header-rgt {
	float: right;
	width: 58%;
	display: inline-block;
}
.header-lft.demo {
	float: right;
	width: 22%;
	display: inline-block;
}
.header-rgt.demo {
	float: left;
	width: 76%;
	display: inline-block;
}
.header-in {
	font-size: 0;
}
.search {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 10px 0 0;
}
/*.search:after{position: absolute;content: "\f002";font-family: 'FontAwesome';right: 15px;font-size: 28px;color: #ffffff;top: 3px;}*/
.search input {
	font-size: 14px;
	text-align: left;
	line-height: 26px;
	color: #ffffff;
	font-family: 'ProximaNova-Regular', sans-serif;
	text-transform: uppercase;
	border: none;
	outline: none;
	width: 100%;
	background: #222222;
	padding: 0 45px 0 0px;
}
nav {
	width: 73%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 0 0;
	position: relative;
}
/*nav:before{position: absolute;content: '';background: #ffffff;width: 28px;height: 3px;transform: rotate(90deg);left: -11px;top: 19px;}*/
nav ul {
	padding: 0;
}
nav ul li {
	display: inline-block;
	padding: 0 26px;
}
nav > ul > li > a {
	display: block;
	font-size: 14px;
	text-align: left;
	line-height: 26px;
	color: #ffffff;
	font-family: 'ProximaNova-Regular', sans-serif;
	text-transform: uppercase;
}
nav ul li a.menu1 {
	position: relative;
}
.icons.demo:before {
	display: none;
}
nav ul li a.menu1:after {
	position: absolute;
	content: '\f107';
	font-family: 'FontAwesome';
	right: -25px;
	font-size: 25px;
}
.icons {
	width: 15%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.icons:before {
	position: absolute;
	content: '';
	background: #ffffff;
	width: 28px;
	height: 3px;
	transform: rotate(90deg);
	left: -28px;
	top: 19px;
}
.icons a {
	display: inline-block;
	padding: 0 11px;
}
.icons a i {
	font-size: 35px;
	color: #4167b1;
}
.icons a.mid i {
	color: #25d366;
}
.icons span {
	display: inline-block;
	font-size: 14px;
	text-align: left;
	line-height: 26px;
	color: #ffffff;
	font-family: 'ProximaNova-Regular', sans-serif;
	text-transform: uppercase;
	padding: 9px 0 0 6px;
	vertical-align: top;
}
.icons small {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	line-height: 26px;
	color: #ffffff;
	font-family: 'ProximaNova-Regular', sans-serif;
	text-transform: uppercase;
	padding: 9px 0 0 8px;
	vertical-align: top;
}
nav ul li {
	position: relative;
}
.subMenu {
	box-sizing: border-box;
	position: absolute;
	top: 100%;
	left: 0;
	width: 250px;
	/* display: none; */
	z-index: 999;
}
.subMenu ul > li {
	width: 100%;
	background: #ffffff;
	padding: 0;
}
.subMenu ul li a.menu {
	position: relative;
}
.subMenu ul li a.menu:after {
	position: absolute;
	content: '\f105';
	font-family: 'FontAwesome';
	right: 5px;
	font-size: 25px;
	color: #000000;
}
nav .subMenu ul li a {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
nav .subMenu ul li a:hover,
nav .subMenu ul li.active > a {
	background: #2f2f2d;
	color: #ffffff;
}
.sub {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	/* display: none; */
}
.subMenu > ul > li > a {
	display: block;
	font-size: 14px;
	text-align: left;
	line-height: 26px;
	color: #000000;
	font-family: 'ProximaNova-Regular', sans-serif; /* text-transform: uppercase; */
	padding: 5px 15px;
}
.sub > ul > li > a {
	display: block;
	font-size: 14px;
	text-align: left;
	line-height: 26px;
	color: #000000;
	font-family: 'ProximaNova-Regular', sans-serif; /* text-transform: uppercase; */
	padding: 5px 15px;
}
/*.subMenu > ul > li > a:after{position: absolute;content: "\f107";font-family: 'FontAwesome';right: -20px;font-size: 25px;}*/

/*.resorts{background: url(../images/resortsbg/Rectangle%20204.png)no-repeat;width: 100%;background-size: cover;height: 1072px;margin: -62px 0 0 0;position: relative;}*/
.resorts {
	position: relative;
}
.resorts figure {
}
.resorts figure img {
	width: 100%;
	object-fit: cover;
	background-position: 100% 100%;
	margin: -83px 0 0 0;
}
.resorts-main {
}
.resorts-main-in {
	padding: 0px;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.resorts-main-in h3 {
	font-size: 52px;
	line-height: 54px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #ffffff;
	text-align: center;
	letter-spacing: 0.4px;
	padding: 0 0 15px;
}
.resorts-main-in h6 {
	font-size: 26px;
	line-height: 28px;
	font-weight: 400;
	font-family: 'proxima-nova-medium', sans-serif;
	color: #ffffff;
	text-align: center;
	letter-spacing: 1.1px;
	padding: 0 0 38px;
}
.resorts-main-in a {
	font-size: 19px;
	line-height: 54px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #222222;
	width: 147px;
	display: block;
	margin: 0 auto;
	height: 54px;
	background: #ffffff;
	text-align: center;
	padding: 0 0 0;
}
.sales {
	padding: 45px 0 0px 0;
	text-align: center;
}
.sales-in {
}
.sales-in ul {
	font-size: 0;
}
.sales-in ul li {
	display: inline-block;
	width: 25%;
}
.sales-in ul li a {
	font-family: 'proxima-nova-medium', sans-serif;
	font-size: 25px;
	line-height: 79px;
	font-weight: 400;
	width: 396px;
	height: 82px;
	display: block;
	color: #000000;
	border: 3px solid #e3e3e3;
	box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 50%);
}
/*.sales-in ul li a:first-child{}*/

.act {
	position: relative;
}
.act:after {
	background: url(/images/sales1/buy-property-icon.png) no-repeat;
	width: 33px;
	height: 38px;
	position: absolute;
	content: '';
	margin: 0 auto;
	left: 110px;
	display: block;
	top: 33%;
}
.act1 {
	position: relative;
}
.act1:after {
	background: url(/images/sales2/property-devs-icon.png) no-repeat;
	width: 33px;
	height: 38px;
	position: absolute;
	content: '';
	margin: 0 auto;
	left: 90px;
	display: block;
	top: 31%;
}
.act2 {
	position: relative;
}
.act2:after {
	background: url(/images/sales3/rent-property-icon.png) no-repeat;
	width: 33px;
	height: 38px;
	position: absolute;
	content: '';
	margin: 0 auto;
	left: 90px;
	display: block;
	top: 32%;
}
.act3 {
	position: relative;
}
.act3:after {
	background: url(/images/sales4/marketing-stats-icon.png) no-repeat;
	width: 33px;
	height: 38px;
	position: absolute;
	content: '';
	margin: 0 auto;
	left: 50px;
	display: block;
	top: 31%;
}
.popular {
	padding: 94px 0 0px 0;
}
.popular1 {
	padding: 29px 0 0px 0;
}
.popular-main {
	padding: 0 0 84px;
}
.popular-main h2 {
	font-size: 40px;
	line-height: 42px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #222222;
	padding: 0 0 19px 0;
}
.popular-main p {
	font-size: 26px;
	line-height: 40px;
	font-weight: 400;
	font-family: 'proxima-nova-medium', sans-serif;
	color: #222222;
	padding: 0 0 48px;
}
.popular-main a.area {
	font-size: 19px;
	line-height: 55px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #222222;
	width: 203px;
	height: 55px;
	display: block;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid #222222;
	text-align: center;
}
.tab_links {
	text-align: center;
}
.tab_links ul {
	font-size: 0;
}
.tab_links ul li {
	display: inline-block;
	width: 25%;
}
.tab_links ul li a {
	font-size: 19px;
	line-height: 106px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #222222;
	width: 408px;
	height: 106px;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #222222;
}
.tab_links ul li.active a {
	background: #222222;
	color: #ffffff;
}
.tab_links ul li a:hover {
	background: #222222;
	color: #ffffff;
}
.bluewater {
	position: relative;
	padding: 0 0 53px;
}
.bluewater figure {
}
.bluewater figure img {
	width: 100%;
}
.bluewater-in {
	position: absolute;
	bottom: 14%;
	left: 4%;
}
.bluewater-in h3 {
	font-size: 55px;
	line-height: 57px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #ffffff;
	padding: 0 0 10px;
}
.bluewater-in p {
	font-size: 28px;
	line-height: 30px;
	font-weight: 400;
	font-family: 'proxima-nova-medium', sans-serif;
	color: #ffffff;
	padding: 0 0 42px;
}
.bluewater-in a {
	font-size: 15px;
	line-height: 43px;
	font-weight: 600;
	font-family: 'ProximaNova-Bold', sans-serif;
	color: #ffffff;
	width: 132px;
	height: 43px;
	border: 1px solid #ffffff;
	display: block;
	text-align: center;
}

/*service here */
.service {
	background: #fafafa;
	padding: 41px 0 0 0;
}
.service-in {
	padding: 21px 0 70px;
}
.service-in h3 {
	font-size: 40px;
	line-height: 42px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	padding: 0 0 19px;
}
.service-in p {
	font-size: 26px;
	line-height: 40px;
	color: #222222;
	font-family: 'proxima-nova-medium', sans-serif;
}
.property {
	padding: 58px 0 0;
}
.property-in {
	max-width: 1620px;
}
.property-in ul {
	font-size: 0;
	margin: 0 -5px;
}
.property-in ul li {
	display: inline-block;
	width: 33.33%;
	padding: 0 5px;
	vertical-align: top;
}
.manage {
	background: #ffffff;
	max-width: 523px;
}
.manage-in {
}
.manage-in img {
}
.manage-in h6 {
	font-size: 20px;
	line-height: 22px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	padding: 39px 0 40px 40px;
}
.service-in a {
	font-size: 14px;
	line-height: 50px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	width: 148px;
	height: 50px;
	border: 1px solid #222222;
	text-align: center;
	margin: 67px 8px 0 auto;
}

/*fact here */
.fact {
}
.fact-in {
	padding: 39px 0 35px;
}
.fact-in h3 {
	font-size: 40px;
	line-height: 42px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	padding: 0 0 19px;
}
.fact-in p {
	font-size: 26px;
	line-height: 40px;
	color: #222222;
	font-family: 'proxima-nova-medium', sans-serif;
	padding: 0 0 62px;
}
.award {
}
.award-in {
	padding: 0 0 100px;
}
.award-in ul {
	font-size: 0;
	margin: 0 -5px;
}
.award-in ul li {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding: 0 5px;
}
.sale {
	width: 395px;
	background: #0b0023 0% 0% no-repeat padding-box;
	min-height: 250px;
}
.sale-in {
	padding: 34px 0 20px;
}
.sale-in a {
}
.sale-in a img {
	margin: 0 auto;
}
.sale-in span {
	font-size: 28px;
	line-height: 30px;
	color: #ffffff;
	font-family: 'ProximaNova-Bold', sans-serif;
	display: block;
	text-align: center;
	padding: 34px 0 0px;
}
.sale-in p {
	font-size: 15px;
	line-height: 17px;
	color: #6ad6c3;
	font-family: 'ProximaNova-Regular';
	text-align: center;
	padding: 13px 0 0 0;
}
.real {
	border: 2px solid #f0f2f4;
}
.real-in {
	max-width: 1547px;
	margin: 0 auto;
	padding: 37px 0 0;
}
.real-in h3 {
	font-size: 32px;
	line-height: 42px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	padding: 0 0 13px;
	letter-spacing: 0.3px;
}
.real-in p {
	font-size: 24px;
	line-height: 36px;
	color: #222222;
	font-family: 'proxima-nova-medium', sans-serif;
	padding: 0 0 58px;
	letter-spacing: -0.3px;
}

/*popular here */
.popular1 {
	background: #fafafa;
}
.popular-in {
	padding: 30px 0 78px;
}
.popular-in h3 {
	font-size: 33px;
	line-height: 43px;
	color: #222222;
	font-family: 'ProximaNova-Bold', sans-serif;
	padding: 0 0 13px;
}
.popular-in ul {
	font-size: 0;
	margin: 0 -18px;
}
.popular-in ul li {
	display: inline-block;
	padding: 10px 20px;
}
.popular-in ul li a {
	font-size: 22px;
	line-height: 50px;
	color: #222222;
	font-family: 'proxima-nova-medium', sans-serif;
	height: 50px;
	padding: 0 25px;
	display: block;
	text-align: center;
	background: #ffffff;
	border: 2px solid #f0f2f4;
}

/*footer here */
footer {
	background: #1d1d1d;
}
.footer-in {
	padding: 62px 0;
}
.footer-top {
	border-bottom: 1px solid #252525;
	padding: 0 0 48px;
}
.footer-top ul {
	margin: 0 -25px;
	font-size: 0;
}
.footer-top ul li {
	display: inline-block;
	padding: 0 23px;
	vertical-align: top;
	width: 16.6%;
}
.office {
	position: relative;
}
.office-in {
}
.office-in h6 {
	font-size: 19px;
	line-height: 20px;
	font-family: 'ProximaNova-Regular';
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 0 24px;
	font-weight: 500;
}
.office-in span {
	color: #ffffff;
	font-size: 22px;
	line-height: 24px;
	font-family: 'ProximaNova-Bold';
}
.content a {
	font-size: 20px;
	line-height: 27px;
	font-family: 'ProximaNova-Regular';
	color: #ffffff;
	letter-spacing: -0.2px;
}
.footer-btm {
}
.footer-btm-in {
	border-bottom: 1px solid #252525;
	padding: 0 0 2px;
}
.footer-btm-lft {
	float: left;
	width: 50%;
}
.footer-btm-lft-in {
	max-width: 415px;
	padding: 23px 0 14px;
}
.foto {
}
.foto.rigt {
	direction: ltr;
}
.foto-lft {
	width: 29%;
	float: left;
	display: inline-block;
}
.foto-lft p {
	color: #ffffff;
	font-size: 25px;
	line-height: 45px;
	font-family: 'ProximaNova-Regular';
}
.foto-rgt {
	float: right;
	width: 71%;
	display: inline-block;
}
.foto-rgt ul {
}
.foto-rgt ul li {
	display: inline-block;
	padding: 0 2px;
}
.foto-rgt ul li a {
	margin: 0 4px;
}
.foto-rgt ul li a i {
	color: #fff;
	font-size: 35px;
}
.footer-btm-rgt {
	float: right;
}
.footer-btm-rgt-in {
}
.footer-btm-rgt-in a {
	margin: 14px -20px 0 0;
}
.footer-btm-rgt-in a img {
}
.foto-btm {
	padding: 27px 0 13px;
	border-bottom: 1px solid #252525;
	margin: 0 -20px 0 0;
}
.foto-btm-in {
}
.foto-btm-in ul {
	margin: 0 -21px;
}
.foto-btm-in ul li {
	display: inline-block;
	padding: 0 20px;
}
.foto-btm-in ul li a {
	color: #ffffff;
	font-size: 25px;
	line-height: 28px;
	font-family: 'ProximaNova-Regular';
}
.foto-bottom {
}
.foto-bottom p {
	font-size: 20px;
	line-height: 28px;
	color: #ffffff;
	font-family: 'proxima-nova-medium';
	text-align: center;
	padding: 20px 0 0;
}
.foto-bottom p a {
	color: #4167b1;
	display: inline-block;
	border-bottom: 1px solid #314873;
}
/* .bluewater {
	display: none;
} */

.side_bar {
	display: none;
}
.menu_icon {
	display: none;
}
.mole {
	display: none;
}
.resorts-main-in p {
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	font-family: 'ProximaNova-Regular';
	text-align: center;
	display: none;
}
.bat {
	position: relative;
	display: none;
}
.bat-in {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 250px;
}
.bat-in h3 {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-family: 'ProximaNova-Bold', sans-serif;
	text-transform: uppercase;
}
.bat-in p {
	font-size: 14px;
	line-height: 30px;
	color: #ffffff;
	font-family: 'proxima-nova-medium';
}
.bat figure img {
	width: 100%;
	height: auto;
}
.media {
	background: #000000;
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.media-in {
}
.media-in ul {
	text-align: center;
}
.media-in ul li {
	display: inline-block;
	padding: 10px 27px;
}
.media-in ul li a {
}
.media-in ul li a i {
}
.media-in ul li a.call1 i {
	color: #4167b1;
	width: 31px;
	height: 31px;
	font-size: 30px;
}
.media-in ul li a.call2 i {
	color: #ffffff;
	width: 39px;
	height: 26px;
	font-size: 30px;
}
.media-in ul li a.call3 i {
	color: #22d672;
	width: 31px;
	height: 31px;
	font-size: 30px;
}
/*--sticky-header--*/
.stick_header {
	position: fixed;
	width: 100%;
	max-width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 9999;
	background: #222222;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.resorts-main-in a:hover,
.popular-main a.area:hover,
.service-in a:hover,
.popular-in ul li a:hover {
	background: #222222;
	color: #ffffff;
}
.bluewater-in a:hover {
	color: #222222;
	background: #ffffff;
	border: none;
}

nav ul li:last-child .subMenu ul li .sub {
	left: -249px;
}
.searchbox {
	position: relative;
	min-width: 50px;
	width: 0%;
	height: 50px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}

.searchbox-input {
	top: 0;
	right: 0;
	border: 0;
	outline: 0;
	background: #dcddd8;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0px 55px 0px 20px;
	font-size: 20px;
	color: red;
}
.searchbox-input::-webkit-input-placeholder {
	color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
	color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
	color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
	color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0;
	font-family: verdana;
	font-size: 22px;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	color: #dcddd8;
	background: #222222;
}

.searchbox-open {
	width: 100%;
}
.subMenu ul li a.menu:hover:after {
	right: 5px;
	color: #ffffff;
}

.office > a.active {
	background-color: #3399cc;
	color: #fff;
}
.content {
	display: block;
}
.office-in span i {
	display: none;
}
.hide {
	display: block;
	padding: 0 0 44px !important;
}

.banner-slide .slick-dots li button {
	width: 14px;
	height: 7px;
	border-radius: 0;
	background: rgb(230 230 230 / 50%);
}
.banner-slide .slick-dots li.slick-active button {
	background: #e6e6e6;
}
.banner-slide .slick-dots {
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.dpx-header-sticky {
	background: #222;
	padding-top: 0px;
	padding-bottom: 0px;
}
.dpx-fixed-header {
	position: fixed;
	top: 0;
	z-index: 300000;
	width: 100%;
}
.dpx-search-area-floating-0 {
	max-width: 1200px;
	margin: 0 auto;
}
.dpx-show {
	display: block;
}
.dpx-search-area-floating .dpx-search-area-close {
	padding-top: 10px;
	text-align: right;
}
.dpx-search-area-floating .dpx-search-area-close i {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.fa-times:before {
	content: '\f00d';
	font-family: 'FontAwesome';
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-tab-sale {
	padding-right: 0px;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type.active {
	border-bottom: solid 4px #ffffff;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type {
	text-align: center;
	border-bottom: solid 1px #4ec0b0;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 0px 0px 8px 0px;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type a {
	font-family: 'ProximaNova-Regular';

	text-align: center;
	color: #fff;
	font-weight: bold;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-tab-rent {
	padding-left: 0px;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type {
	text-align: center;
	border-bottom: solid 1px #ffffff;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 0px 0px 8px 0px;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type a {
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-box.inner {
	background-position: 1% 7px;
}
.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-box {
	width: 100%;
	border: none;
	background: #222222;
	color: #fff;
	padding: 15px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-image: url(/images/search-zoom-2.png);
	background-repeat: no-repeat;
	background-position: 99% 7px;
	border: 1px solid #d6d6d6;
}
.dpx-query-select,
.dpx-query-select:focus {
	width: 100%;
	border: none !important;
	border-radius: 0px !important;
	background: none;
	color: #fff;
	padding: 15px 10px;
	margin-bottom: 0;
	background: #222222;
	background-image: url(/imgs/arrow.png);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none !important;
}
.dpx-search-area-floating .dpx-search-area-tabs button {
	border-radius: 0px;
	background: #ffffff;
	color: #222222;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 30px;
	font-size: 20px;
	font-family: 'ProximaNova-Bold';
	cursor: pointer;
}
.btn {
	-webkit-transition: 0.4s !important;
	transition: 0.4s !important;
}
.btn-block {
	display: block;
	width: 100%;
}
.dpx-header-search-box {
	float: left;
	border-right: solid 1px #fff;
	height: 30px;
	margin-right: 6px;
	padding-right: 10px;
	cursor: pointer;
}
.dpx-header-search-box.arch {
	border-left: solid 1px #fff;
	border-right: none;
	padding: 0 0 0 15px;
	margin: 0 0 0 15px;
}
.dpx-header-search-box {
	float: left;
	border-right: solid 1px #fff;
	height: 30px;
	margin-right: 6px;
	padding-right: 10px;
	cursor: pointer;
}
.dpx-search-area-floating .dpx-search-area-close {
	padding-top: 10px;
	text-align: right;
}
#id-search-area-floating {
	/* display: none; */
}
#id-search-area-floating.active {
	display: block;
}
.dpx-query-select {
	position: relative;
}
.dpx-query-select:after {
	content: '\f00d';
	font-family: 'FontAwesome';
	position: absolute;
}
.menu-icons {
}
.dpx-tab-sale {
	width: 50%;
	float: left;
	display: inline-block;
}
.dpx-tab-rent {
	width: 50%;
	float: right;
	display: inline-block;
}
.type {
	width: 98%;
	border: 1px solid #ffffff;
	position: relative;
}
.type1 {
	width: 97%;
	border: 1px solid #ffffff;
	position: relative;
}
.type2 {
	width: 100%;
	border: 1px solid #ffffff;
	position: relative;
}
ul.text-types {
	font-size: 0;
	margin: 0px 0 10px;
}
ul.text-types li {
	display: inline-block;
	width: 25%;
	margin: 0;
}
ul.size {
	font-size: 0;
}
ul.size li {
	display: inline-block;
	width: 50% !important;
	margin: 0;
}

.type:after {
	position: absolute;
	content: '\f107';
	font-family: 'FontAwesome';
	right: 10px;
	color: #ffffff;
	font-size: 20px;
	top: 12px;
}
.type1:after {
	position: absolute;
	content: '\f107';
	font-family: 'FontAwesome';
	right: 10px;
	color: #ffffff;
	font-size: 20px;
	top: 12px;
}
.type2:after {
	position: absolute;
	content: '\f107';
	font-family: 'FontAwesome';
	right: 10px;
	color: #ffffff;
	font-size: 20px;
	top: 12px;
}
.type2.inner:after {
	right: 70px;
}
.type1.inner:after {
	right: 70px;
}
.type.inner:after {
	right: 70px;
}
.type.inner2:after {
	right: 50px;
}
.type.inner1:after {
	right: 95px;
}
ul.btns {
	font-size: 0;
	margin: 25px 0 0;
}
ul.btns li {
	display: inline-block;
	width: 50%;
}
.map {
	width: 99.2%;
	height: 40px;
	background: #ffffff;
}
.map a {
	display: block;
	font-size: 20px;
	line-height: 40px;
	color: #222222;

	text-align: center;

	font-family: 'ProximaNova-Bold';
	position: relative;
}
.map a:before {
	position: absolute;
	content: '\f041';
	font-family: 'FontAwesome';
	left: 0;
	right: 0;
	margin: 0 0 0 -117px;
}
::-webkit-input-placeholder {
	/* Edge */
	color: #ffffff;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ffffff;
}

::placeholder {
	color: #ffffff;
}
.foto-btm-in ul li:first-child {
	padding: 0 10px 0 0;
}

/*---Responsive start here---*/
@media only screen and (max-width: 1903px) {
	.container {
		padding: 0 15px;
	}
	.header-lft {
		width: 30%;
	}
	.header-rgt {
		width: 70%;
	}
	header {
		padding: 26px 15px;
	}
	nav {
		width: 63%;
	}
	.tab_links ul li a {
		width: 100%;
	}
}

@media only screen and (max-width: 1670px) {
	.header-lft {
		width: 20%;
	}
	.header-rgt {
		width: 80%;
	}
	nav {
		width: 70%;
	}
	.sales-in ul li a {
		width: 350px;
	}
	.act3:after {
		left: 30px;
	}
	.act2:after {
		left: 70px;
	}
	.act1:after {
		left: 70px;
	}
	.act:after {
		left: 90px;
	}
	.popular-main p br {
		display: none;
	}
	.property-in ul,
	.foto-btm-in ul,
	.footer-top ul,
	.foto-btm {
		margin: 0;
	}
	.sale {
		width: 100%;
	}
	.foto-btm-in ul li {
		padding: 5px 10px;
	}
	.foto-btm-in ul li a {
		font-size: 23px;
		line-height: 25px;
	}
	.footer-top ul li {
		padding: 0 10px;
	}
	.footer-btm-rgt-in a {
		margin: 14px 0 0;
	}
	.popular-in ul li {
		padding: 10px 5px 10px 0px;
	}
	.popular-in ul {
		margin: 0;
	}
	nav.demo {
		width: 73%;
	}
}
@media only screen and (max-width: 1500px) {
	.resorts-main-in {
		padding: 0;
	}
	.header-lft {
		width: 15%;
	}
	.header-rgt {
		width: 85%;
	}
	nav ul li {
		padding: 0 20px;
	}
	.icons {
		width: 20%;
	}
	.search:after {
		right: 5px;
	}
	.sales-in ul li a {
		width: 290px;
		font-size: 20px;
		line-height: 70px;
		height: 70px;
	}
	.act3:after {
		left: 20px;
	}
	.act2:after {
		left: 55px;
	}
	.act1:after {
		left: 55px;
	}
	.act:after {
		left: 75px;
	}
	.service {
		padding: 50px 0 0;
	}
	.service-in {
		padding: 0 0 60px;
	}
	.real-in {
		padding: 35px 15px 0;
	}
	.foto-btm-in ul li a {
		font-size: 18px;
		line-height: 20px;
	}
	.popular-in ul li a {
		font-size: 18px;
		padding: 0 18px;
	}
	.header-rgt.demo {
		width: 80%;
	}
	.header-lft.demo {
		width: 17%;
	}
}
@media only screen and (max-width: 1250px) {
	.resorts-main-in {
		padding: 0;
	}
	.header-lft {
		width: 12%;
	}
	nav > ul > li > a {
		font-size: 12px;
	}
	.subMenu > ul > li > a {
		font-size: 12px;
	}
	.sub > ul > li > a {
		font-size: 12px;
	}
	.search input {
		font-size: 12px;
	}
	.sales-in ul li a {
		width: 270px;
	}
	.act3:after {
		left: 10px;
	}
	.act2:after {
		left: 45px;
	}
	.act1:after {
		left: 45px;
	}
	.act:after {
		left: 55px;
	}
	.subMenu ul li a.menu:after {
		right: 5px;
		color: #000000;
	}
	.subMenu {
		width: 200px;
	}
	.br {
		display: none;
	}
	nav.demo {
		width: 72%;
	}
}
@media only screen and (max-width: 1150px) {
	nav ul li {
		padding: 0 15px;
	}
	.icons:before {
		left: -15px;
	}
	.sales-in ul li {
		width: 50%;
		padding: 10px;
	}
	.sales-in ul li a {
		width: 100%;
	}
	.act3:after {
		left: 45px;
	}
	.popular {
		padding: 50px 0 0;
	}
	.popular-main h2 {
		font-size: 35px;
		line-height: 37px;
	}
	.popular-main p,
	.service-in p,
	.fact-in p,
	.real-in p {
		font-size: 20px;
		line-height: 30px;
	}
	.tab_links ul li a {
		height: 80px;
		line-height: 80px;
	}
	.service-in h3,
	.fact-in h3,
	real-in h3 {
		font-size: 35px;
		line-height: 37px;
	}
	.sale {
		min-height: 261px;
	}
	.footer-top ul li {
		width: 33.33%;
		padding: 10px 0;
	}
	nav {
		width: 74%;
	}
	.icons.demo {
		width: 22%;
	}
	nav.demo {
		width: 80%;
	}
	.header-lft.demo {
		width: 17%;
	}
	.header-rgt.demo {
		width: 83%;
	}
	nav.demo {
		width: 70%;
	}
	nav.demo {
		width: 72%;
	}
	.icons.demo {
		width: 20%;
	}
	.icons.demo a {
		padding: 0 8px;
	}
}
@media only screen and (max-width: 991px) {
	header {
		padding: 26px 67px;
	}

	.menu_icon {
		display: block;
		float: right;
		background: none;
		border: 0 none;
		cursor: pointer;
		outline: none !important;
		margin: 0px 0 0 0;
		position: absolute;
		top: 35px;
		right: 15px;
		z-index: 1;
	}
	.menu_icon span {
		width: 35px;
		height: 3px;
		background: #fff;
		display: block;
		position: relative;
	}
	.menu_icon span + span {
		margin: 6px 0 0 0;
	}
	.side_bar {
		position: fixed;
		top: 0;
		height: 100%;
		width: 250px;
		z-index: 99;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		overflow: auto;
		background: #000;
		right: -250px;
		display: block;
	}
	.open_menu .side_bar {
		right: 0;
	}
	.open_menu .menu_icon span:nth-child(1) {
		transform: rotate(45deg);
		top: 9px;
	}
	.open_menu .menu_icon span:nth-child(2) {
		opacity: 0;
	}
	.open_menu .menu_icon span:nth-child(3) {
		transform: rotate(-45deg);
		top: -9px;
	}
	.wrapper {
		position: relative;
		left: 0;
		width: 100%;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
	}
	.open_menu .wrapper {
		left: -250px;
		position: fixed;
	}
	.side_bar nav {
		display: block !important;
		width: 100%;
	}
	nav ul li a.menu1:after {
		right: 0;
	}
	nav ul li {
		width: 100%;
		text-align: center;
	}
	.header-in {
		display: none;
	}
	nav:before {
		display: none;
	}
	.mole {
		display: block;
		margin-left: auto;
	}
	.search1 {
		float: left;
		width: 30%;
	}
	.icons {
		width: 70%;
	}
	.icons:before {
		background: #2b2b2b;
	}
	/*    .header-lft a img{width: 155px;}*/
	.header-lft {
		width: 25%;
		float: left;
	}
	.menu-icons {
		width: 150px;
		margin-left: auto;
		padding: 0 0px 0 0;
	}
	.header-rgt {
		width: 75%;
	}
	.resorts-main-in p {
		display: block;
	}
	.resorts-main-in h3 {
		font-size: 40px;
		line-height: 42px;
	}
	.tab_links ul li a {
		font-size: 15px;
	}
	.bluewater-in {
		bottom: 25%;
	}
	.sale {
		min-height: 293px;
	}
	.sale-in {
		padding: 34px 5px 20px;
	}
	.sale-in span {
		font-size: 22px;
		line-height: 24px;
	}
	.sale-in p {
		font-size: 18px;
	}
	.foto-btm-in ul li {
		padding: 5px;
	}
	.footer-top ul li {
		width: 50%;
	}
	.footer-btm-lft {
		width: 56%;
	}
	nav {
		padding: 80px 0 0;
	}
	.sub {
		left: 0%;
		top: 40px;
		z-index: 9999;
		background: #fff;
		height: 150px;
	}
	.subMenu ul li a.menu:after {
		transform: rotate(88deg);
	}
	.subMenu {
		width: 100%;
	}
	nav > ul > li > a {
		font-size: 15px;
	}
	.subMenu > ul > li > a {
		font-size: 15px;
	}
	.sub > ul > li > a {
		font-size: 15px;
	}
	.resorts-main-in {
		padding: 0;
	}
	.icons span,
	.icons small {
		padding: 5px;
	}
	ul.text-types li {
		width: 50%;
		padding: 5px 0;
	}
	ul.text-types li:nth-child(2) .type {
		width: 100%;
	}
	.banner-slide .slick-dots {
		bottom: 25px;
	}
	.sub,
	.subMenu {
		position: static;
	}
	.icons.demo {
		width: 52%;
		margin-right: auto;
	}
}

@media only screen and (max-width: 767px) {
	.header-rgt.demo {
		width: 70%;
	}
	.header-lft.demo {
		width: 30%;
	}
	.resorts figure img {
		height: 600px;
		object-fit: cover;
	}
	.search1 {
		/* float: left; */ /* width: 65%; */
	}
	.icons {
		/* width: 30%; */
	}
	.resorts-main-in h3 {
		font-size: 35px;
		line-height: 37px;
	}
	.sales-in ul li {
		width: 100%;
		padding: 10px 0;
	}
	.bluewater-in h3 {
		font-size: 45px;
		line-height: 47px;
	}
	.tab_links ul li a {
		font-size: 13px;
	}
	.tab {
		display: none;
	}
	.mode {
		margin: 0 auto;
	}
	.bat {
		display: block;
	}
	.popular-main a.area,
	.service-in a {
		width: 100%;
		margin: 30px 0 0;
	}
	.real {
		display: none;
	}
	.foto-btm {
		display: none;
	}
	.footer-btm {
		display: none;
	}

	.footer-in {
		padding: 20px 0;
	}
	.foto-bottom p {
		font-size: 16px;
		line-height: 20px;
	}
	.popular-in h3 {
		font-size: 26px;
		line-height: 30px;
	}
	.popular-in ul li {
		padding: 10px 10px 10px 0;
	}
	.popular-in ul li a {
		font-size: 18px;
	}
	.manage {
		margin: 0 auto;
	}
	.service-in h3,
	.fact-in h3,
	real-in h3 {
		font-size: 25px;
		line-height: 30px;
	}
	.award-in.vest ul li {
		width: 33.33%;
		padding: 0 5px 30px;
	}
}
@media only screen and (max-width: 599px) {
	.award-in.vest ul li {
		width: 50%;
	}
	.property-in.vest ul li {
		width: 50%;
	}
	.dpx-search-area-close {
		display: none;
	}
	.search-txt:after {
		top: 19px;
	}
	.dpx-query-select,
	.dpx-query-select {
		background: #313131;
	}
	.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-box {
		background: #313131;
		background-image: url(/images/search-zoom-2.png);
		background-repeat: no-repeat;
		background-position: 99% 7px;
	}
	.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type a {
		font-family: 'ProximaNova-Bold';
		text-transform: uppercase;
	}
	.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type {
		border: 1px solid #ffffff;
		margin: 0;
		padding: 12px 0;
	}
	.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type.active {
		border-bottom: 1px solid #ffffff;
		background: #ffffff;
	}
	.dpx-search-area-floating .dpx-search-area-tabs .dpx-search-unit-type.active a {
		color: #222222;
	}
	ul.text-types li .type,
	.map a {
		width: 100%;
	}
	ul.btns li {
		width: 100%;
		padding: 5px 0;
	}
	ul.text-types li {
		width: 100%;
		padding: 5px 0;
	}
	.search1 {
		/* float: left; */ /* width: 60%; */
	}
	.icons {
		/* width: 35%; */
	}
	.resorts-main-in h3 {
		font-size: 24px;
		line-height: 30px;
	}
	.resorts-main-in h6 {
		font-size: 14px;
		line-height: 30px;
	}
	.resorts-main-in a {
		font-size: 14px;
		width: 106px;
		height: 34px;
		line-height: 34px;
	}
	.popular-in ul li a {
		font-size: 18px;
		padding: 0 10px;
	}
	.footer-top ul li {
		width: 100%;
		padding: 10px 0;
	}
	.content {
		display: none;
	}
	.office-in span i {
		display: inline-block;
	}
	.hide {
		display: none;
	}
	.txt {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		padding: 10px 0 55px;
		margin: 18px 0 0;
	}
}
@media only screen and (max-width: 479px) {
	.header-rgt.demo {
		width: 50%;
	}
	.header-lft.demo {
		width: 50%;
		padding: 8px 0 0;
	}
	.popular-in ul li a {
		font-size: 14px;
	}
	.header-lft {
		width: 40%;
	}
	.header-rgt {
		width: 60%;
	}
	.search1 {
		width: 30%;
	}
	.icons {
		width: 70%;
	}
	.act3:after {
		left: 10px;
	}
	.act2:after {
		left: 10px;
	}
	.act1:after {
		left: 10px;
	}
	.act:after {
		left: 10px;
	}
	.popular-main h2,
	.service-in h3,
	.service-in h3,
	.fact-in h3,
	real-in h3,
	.popular-in h3 {
		font-size: 20px;
		line-height: 22px;
	}
	.popular-main p,
	.service-in p,
	.fact-in p {
		font-size: 16px;
		line-height: 24px;
	}
	.bat-in {
		bottom: -30px;
	}
	.bat-in h3 {
		font-size: 20px;
		line-height: 26px;
	}
	.media {
		display: block;
	}
	.footer-in {
		margin: 0 0 50px;
	}
	.search1 {
		/* float: none; */ /* width: 100%; */ /* display: block; */ /* position: absolute; */ /* top: 92px; */ /* left: 0; */
	}
	.sales,
	.popular,
	.service {
		padding: 25px 0 0;
	}
	.popular-main > p,
	.popular-main,
	.service-in,
	.fact-in p,
	.award-in {
		padding: 0px 0 25px;
	}
	.fact-in,
	.popular-in {
		padding: 25px 0;
	}
	.award-in.vest ul li {
		width: 100%;
	}
	.property-in.vest ul li {
		width: 100%;
	}
	.popular1 {
		padding: 0;
	}
}

