<script>

import { t } from "svelte-i18n";

</script>
<footer>
	<div class="container">
		<div class="footer-in">
			<div class="footer-top">
				<ul class="clearfix">
					<li>
						<div class="office">
							<div class="office-in">
								<h6>{ $t('Footer.head-office') }</h6>
								<span>{ $t('Footer.business-bay-office') } <i class="fa fa-angle-down" aria-hidden="true" /></span>
								<div class="content">
									<a href="#!"
										>2<sup>nd</sup> { $t('Footer.floor') } <br />
										{ $t('Footer.bay-square') } <br />
										{ $t('Footer.building-13') } <br />
										{ $t('Footer.business-bay-dubai') }</a
									>
									<a href="tel:+971(0)44297040">{ $t('Footer.tel-971-0-4-429-7040') }</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="office">
							<div class="office-in">
								<h6>{ $t('Footer.branch-offices') }</h6>
								<span
									>{ $t('Footer.jumeriah-village-circle') } <i class="fa fa-angle-down" aria-hidden="true" /></span
								>
								<div class="content">
									<a href="#!"
										>{ $t('Footer.office-no-4') } <br />
										{ $t('Footer.chaimaa-premiere') } <br />
										{ $t('Footer.district-15-jvc') } <br />
										Dubai,UAE</a
									>
									<a href="tel:+971(0)45786295">{ $t('Footer.tel-971-0-4-578-6295') }</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="office">
							<div class="office-in">
								<span class="hide" />
								<span>{ $t('PopularDubalAreasTwo.dubai-creek-harbour') } <i class="fa fa-angle-down" aria-hidden="true" /></span>
								<div class="content">
									<a href="#!"
										>{ $t('Footer.office-no-gfr-08') }<br />
										{ $t('Footer.the-creek-residences') } <br />
										{ $t('Footer.south-podium') } <br />
										{ $t('Footer.dubai-creek-harbour-uae') }</a
									>
									<a href="tel:+971(0)42572772">{ $t('Footer.tel-971-0-4-257-2772') }</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="office">
							<div class="office-in">
								<span class="hide" />
								<span>{ $t('PopularDubalAreasTwo.dubai-hills-estate') } <i class="fa fa-angle-down" aria-hidden="true" /></span>
								<div class="content">
									<a href="#!"
										>{ $t('Footer.unit-r9c-ground-floor') } <br />
										{ $t('Footer.acacia-1-tower-c') }<br />
										{ $t('PopularDubalAreasTwo.dubai-hills-estate') }	</a>
									<a href="tel:+971(0)43882201">{ $t('Footer.tel-971-0-4-388-2201') }</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="office">
							<div class="office-in">
								<h6>{ $t('Footer.international-offices') }</h6>
								<span>{ $t('Footer.china') } <i class="fa fa-angle-down" aria-hidden="true" /></span>
								<div class="content">
									<a href="#!"
										>{ $t('Footer.office-no-2005b') } <br />
										{ $t('Footer.shenzhen-icc-tower') } <br />
										{ $t('Footer.168-fuhua-3') }<sup>rd</sup> { $t('Footer.road') } <br />
										{ $t('Footer.futian-cbd-shenzhen-city') } <br />
										{ $t('Footer.guandong-province-china') }</a
									>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="office">
							<div class="office-in">
								<span class="hide" />
								<span>{ $t('Footer.saudi-arabia') } <i class="fa fa-angle-down" aria-hidden="true" /></span>
								<div class="content">
									<a href="#!"
										>{ $t('Footer.office-no-14') } <br />
										{ $t('Footer.home-offices-complex') } <br />
										{ $t('Footer.ai-urubah-street') } <br />
										{ $t('Footer.riyadh-ksa') }</a
									>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer-btm">
				<div class="footer-btm-in">
					<div class="footer-btm-lft">
						<div class="footer-btm-lft-in">
							<div class="foto">
								<div class="foto-lft">
									<p>{ $t('Footer.follow-us') }</p>
								</div>
								<div class="foto-rgt">
									<ul class="clearfix">
										<li>
											<a href="#!"><i class="fa fa-facebook-official" aria-hidden="true" /></a>
										</li>
										<li>
											<a href="#!"><i class="fa fa-twitter" aria-hidden="true" /></a>
										</li>
										<li>
											<a href="#!"><i class="fa fa-youtube-play" aria-hidden="true" /></a>
										</li>
										<li>
											<a href="#!"><i class="fa fa-linkedin" aria-hidden="true" /></a>
										</li>
										<li>
											<a href="#!"><i class="fa fa-instagram" aria-hidden="true" /> </a>
										</li>
									</ul>
								</div>
								<div class="clear" />
							</div>
						</div>
					</div>
					<div class="footer-btm-rgt">
						<div class="footer-btm-rgt-in">
							<a href="#!"
								><img src="images/f-btm-img.png" width="223" height="61" alt="f-btm-img" />
							</a>
						</div>
					</div>
					<div class="clear" />
				</div>
			</div>
			<div class="foto-btm">
				<div class="foto-btm-in">
					<ul class="clearfix">
						<li><a href="#!">{ $t('Footer.properties-for-sale') }</a></li>
						<li><a href="#!">{ $t('Footer.properties-for-rent') }</a></li>
						<li><a href="#!">{ $t('Footer.sell-your-property') }</a></li>
						<li><a href="#!">{ $t('Footer.buy') } { $t('Footer.and-rent-property-online') }</a></li>
						<li><a href="#!">{ $t('Footer.privacy-policy') }</a></li>
						<li><a href="#!">{ $t('Footer.terms') } { $t('Footer.and-conditions') }</a></li>
						<li><a href="#!">{ $t('Footer.sitemap') }</a></li>
					</ul>
				</div>
			</div>
			<div class="foto-bottom">
				<p>
					{ $t('Footer.c-2021-driven-properties-llc-all-rights-reserved-partner-with') } <a href="#!">
						houza.com</a
					>.
				</p>
			</div>
		</div>
	</div>
</footer>
<div class="media">
	<div class="container">
		<div class="media-in">
			<ul class="clearfix">
				<li>
					<a href="#!" class="call1"><i class="fa fa-phone" aria-hidden="true" /> </a>
				</li>
				<li>
					<a href="#!" class="call2"><i class="fa fa-envelope-o" aria-hidden="true" /> </a>
				</li>
				<li>
					<a href="#!" class="call3"><i class="fa fa-whatsapp" aria-hidden="true" /> </a>
				</li>
			</ul>
		</div>
	</div>
</div>
