<section class="apartment-sale-sec">
    <div class="apartment-sale-left">
        <h2>APARTMENTS FOR SALE</h2>
        <form>
            <div class="apartment-form-top">
                <div class="media-left">
                    <div class="dropdown">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            For Sale<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">For Rent</a></li> 
                            <li><a class="dropdown-item" href="#">For Sale</a></li> 
                        </ul>
                    </div>
                    <div class="media-right">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control d-none d-sm-block" placeholder="Search Location or Project (e.g. Business Bay)…." />
                        <input type="text" class="form-control d-block d-sm-none" placeholder="Search Location…." />
                        <a href="#">Search</a>
                    </div>
                </div>
                <div class="apartment-form-bottom">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Property Type</option>
                                </select>
                                <span><img src="images/down-arrow.png" alt="" /></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Bedrooms</option>
                                </select>
                                <span><img src="images/down-arrow.png" alt="" /></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Price</option>
                                </select>
                                <span><img src="images/down-arrow.png" alt="" /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="apartment-sale-detail">
            <div class="apartment-sale-box">
                <div class="apartment-sale-slide">
                    <div class="swiper apartmentSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img3.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img4.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-box">
                    <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <h4>Exclusive| All-New| The Best Deal | City Walk</h4>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                    <div class="apartment-list">
                        <ul>
                            <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        </ul>
                    </div>
                    <h3>AED 4,300,000</h3>
                    <div class="call-btn">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                            <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="apartment-sale-box">
                <div class="apartment-sale-slide">
                    <div class="swiper apartmentSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img3.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img4.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-box">
                    <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <h4>Exclusive| All-New| The Best Deal | City Walk</h4>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                    <div class="apartment-list">
                        <ul>
                            <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        </ul>
                    </div>
                    <h3>AED 4,300,000</h3>
                    <div class="call-btn">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                            <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="apartment-sale-box">
                <div class="apartment-sale-slide">
                    <div class="swiper apartmentSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img3.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img4.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-box">
                    <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <h4>Exclusive| All-New| The Best Deal | City Walk</h4>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                    <div class="apartment-list">
                        <ul>
                            <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        </ul>
                    </div>
                    <h3>AED 4,300,000</h3>
                    <div class="call-btn">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                            <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="apartment-sale-box">
                <div class="apartment-sale-slide">
                    <div class="swiper apartmentSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img3.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img4.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-box">
                    <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <h4>Exclusive| All-New| The Best Deal | City Walk</h4>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                    <div class="apartment-list">
                        <ul>
                            <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        </ul>
                    </div>
                    <h3>AED 4,300,000</h3>
                    <div class="call-btn">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                            <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="apartment-sale-box">
                <div class="apartment-sale-slide">
                    <div class="swiper apartmentSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img1.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img3.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-holder">
                                    <img src="images/apartment-img4.jpg" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="text-box">
                    <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <h4>Exclusive| All-New| The Best Deal | City Walk</h4>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                    <div class="apartment-list">
                        <ul>
                            <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        </ul>
                    </div>
                    <h3>AED 4,300,000</h3>
                    <div class="call-btn">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                            <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="apartment-sale-right">
        <a class="map-expend" href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
        <a class="map-return" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48577.751273507725!2d55.291299892450034!3d25.184230630223496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2s!4v1645689837456!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="apartment-right-box">
            <div class="image-holder">
                    <img src="images/apartment-img2.jpg" alt="" class="img-fluid" />
                </div>
            <div class="text-box">
                <a class="heart-icon" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                <h4>Exclusive | All-New | The Best Deal | City Walk</h4>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i>Building 10 - City Walk</span>
                <div class="apartment-list">
                    <ul>
                        <li><i class="fa fa-building" aria-hidden="true"></i>Full Building</li>
                        <li><i class="fa fa-bed" aria-hidden="true"></i>4 Bedroom</li>
                        <li><i class="fa fa-bath" aria-hidden="true"></i>3 Bath</li>
                        <li><i class="fa fa-bath" aria-hidden="true"></i>2,146 sqft</li>
                    </ul>
                </div>
                <h3>AED 4,300,000</h3>
                <div class="call-btn">
                    <ul>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>Call Now</a></li>
                        <li><a class="whatsapp-btn" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>