<script>
	import '$lib/assets/css/style.css';
	import '$lib/assets/css/style2.css';
	
	import '@splidejs/splide/dist/css/splide.min.css';
	import "$i18n/i18n.js";

	import Footer from '$lib/comps/global/Footer.svelte';
	import Header from '$lib/comps/global/Header.svelte';

	import { direction } from '$lib/store/index';
	import { onMount } from 'svelte';


	let setDirAttrOnHtmlTag = () => {};

	$: setDirAttrOnHtmlTag($direction);

	onMount(() => {
		setDirAttrOnHtmlTag = (dir) => {
			if (window) {
				if (dir === 'rtl') {
					document.querySelector('html').setAttribute('dir', 'rtl');
				} else {
					document.querySelector('html').removeAttribute('dir');
				}
			}
		};
	});
</script>

<Header /> 
<div class="wrapper">
<slot />
</div>
<Footer />
