<script>
	import FactNumbers from '$lib/comps/homepage/FactNumbers.svelte';
	import HeroArea from '$lib/comps/common/HeroArea.svelte';
	import PopularDubaiAreasOne from '$lib/comps/homepage/PopularDubaiAreasOne.svelte';
	import PopularDubalAreasTwo from '$lib/comps/homepage/PopularDubalAreasTwo.svelte';
	import Sales from '$lib/comps/homepage/Sales.svelte';
	import Services from '$lib/comps/homepage/Services.svelte';
</script>

<HeroArea /> 
<Sales /> 
<PopularDubaiAreasOne />
<Services /> 
<FactNumbers />
<PopularDubalAreasTwo />