<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Preferred Partners</li>
                        </ul>
                    </div>
                    <h3>PREFERRED PARTNERS</h3>
                </div>

                <div class="preferred-partners"> 

                    <div class="row">
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img1.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Driven Properties</h3>
                                        <p>Driven Properties is a leading real estate company providing its services in real estate consultancy, investment solutions and property management since 2012 through a distinguished team of agents and specialists who are expert in market analysis, negotiation arts and estimating the market value of real estate.</p>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img2.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Driven Interior Design</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img3.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Driven Holiday Homes</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img4.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Roc Citizenship</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img5.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Empire Mortgage</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img6.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Relocate Me</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img7.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>UnBox</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="preferred-box">
                                <div class="image-holder">
                                    <img src="/images/preferred-partners-img8.jpg" alt="" class="img-fluid" />
                                    <div class="text-box">
                                        <h3>Lamar</h3>
                                    </div>
                                </div>
                                <a href="#">Explore</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>