<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Leadership Team</li>
                        </ul>
                    </div>
                    <h3>LEADERSHIP TEAM</h3>
                </div>
                <div class="leadership-team-inner">
                    <div class="leadership-team-top">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="image-holder">
                                    <img src="images/leadership-img1.jpg" alt="" class="img-fluid" > 
                                    <div class="text-inner">
                                        <h4>Abdullah Alajaji</h4>
                                        <p>Founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-8">
                                <div class="text-box">
                                    <a class="team-logo" href="#"><img src="images/logo-blue.jpg" alt="" class="img-fluid" /></a>
                                    <p>Established in 2012, Driven Properties has grown into a leading property brokerage, investment, and consultancy company. Our dedicated team of international agents and staff offer a full spectrum of innovative and customizable property solutions and wealth management services to clients in the UAE and abroad.</p>
                                    <p>With extensive experience, our dedicated team of agents boast a portfolio of commercial, residential, retail, and off-plan properties. Our property consultants are well versed in the principles of the real estate market, negotiation, market analysis, property management, and ethical conduct. Our emphasis on area
                                        <a href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a> </p>
                                    <div class="text-hide">
                                        <p>specialization gives us an edge over other agencies. Each agent knows their area in-depth, including the current market prices, in order to keep the client informed during the sales and leasing process. In addition to our brokerage services in Dubai, Driven Properties offers a wide portfolio of international properties in cities such as Paris, as well as partnerships with international agencies.</p>
                                        <p>As a multi-faceted company, Driven Properties also offers in-house asset management, property management, and market advice in addition to property sale and leasing services–a real one-stop-shop.</p>
                                        <p>We also aim to be a reliable source of information on the property and market trends.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="leadership-right">
                                    <div class="leadership-holder">
                                        <img src="images/leadership-img2.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="leadership-text">
                                        <strong>+971 44 297 040</strong> 
                                        <a class="mail" href="#">info@drivenproperties.com</a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="team-detail">
                        <h3>Driven Properties Management</h3>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img1.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Khadija El Otmani</h4>
                                        <p>Managing Partner of Driven Holiday Homes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img2.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Salman Einavi</h4>
                                        <p>Associate Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img3.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Kianoush Darban</h4>
                                        <p>Associate Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img4.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Mohammed Abdulrahman</h4>
                                        <p>Associate Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img5.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Lina Allaoa</h4>
                                        <p>Associate Partner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img6.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Hadi Hamra</h4>
                                        <p>Sales Director</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img7.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Marcela Herrera</h4>
                                        <p>Director of New Business Development</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img8.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Manju Radhamma</h4>
                                        <p>Director - Industrial Properties</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img9.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Paul Musson</h4>
                                        <p>Sales Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/team-img10.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Ahlam Azzaoui</h4>
                                        <p>Business Development Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>