<script>
	import HeroArea from '$lib/comps/common/GridView.svelte';
    import Breadcrumb from '$lib/comps/common/Breadcrumb.svelte';
    import Table from '$lib/comps/common/Table.svelte';
    import GalleryWithThumbnails from '$lib/comps/common/GalleryWithThumbnails.svelte';
    import LocationMap from '$lib/comps/common/LocationMap.svelte';
    import PopularDubaiAreasOne from '$lib/comps/homepage/PopularDubaiAreasOne.svelte';
</script>


<HeroArea />
<Breadcrumb />

<!-- 
<Title />
<Text />
<List />
-->

<Table/>

<GalleryWithThumbnails />
<LocationMap />
<PopularDubaiAreasOne />
