<script>
	import { Splide, SplideSlide } from '@splidejs/svelte-splide';
	import Skeleton from 'svelte-skeleton';
	import imageLoader from 'svelte-image-loader';
import { t } from 'svelte-i18n';

	const options = {
		pagination: true,
		arrows: false
	};
	const borderRadius = '100%'
</script>

<div class="banner-slide">
	<Splide {options} class="slider-banner">
		<SplideSlide>
			<div class="resorts">
				<figure>
					<img src="https://ik.imagekit.io/ujezbrkiqch/images/Rectangle_204_3ErZGjcTm.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643682764011&tr=h-1079" alt="test" height="1079"/>
				</figure>
				<div class="container">
					<div class="resorts-main">
						<div class="resorts-main-in">
							<p>{ $t('HeroArea.featured-project') }</p>
							<h3>{$t('HeroArea.bvlgari-resorts-and-residences')}</h3>
							<h6>{$t('HeroArea.jumeira-bay-island')}</h6>
							<a href="#!">{$t('HeroArea.learn-more')}</a>
						</div>
					</div>
				</div>
			</div>
		</SplideSlide>
<!-- now let's say i have added something
and something else-->
		<!-- 
		<SplideSlide>
			<div class="resorts">
				<figure>
					<img src="images/Rectangle%20204.png" alt="Rectangle%20204" height="1079" />
				</figure>
				<div class="container">
					<div class="resorts-main">
						<div class="resorts-main-in">
							<p>FEATURED PROJECT</p>
							<h3>Bvlgari Resorts And Residences</h3>
							<h6>Jumeira Bay Island</h6>
							<a href="#!">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</SplideSlide>

		<SplideSlide>
			<div class="resorts">
				<figure>
					<img src="images/Rectangle%20204.png" alt="Rectangle%20204" height="1079" />
				</figure>
				<div class="container">
					<div class="resorts-main">
						<div class="resorts-main-in">
							<p>FEATURED PROJECT</p>
							<h3>Bvlgari Resorts And Residences</h3>
							<h6>Jumeira Bay Island</h6>
							<a href="#!">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</SplideSlide>

		<SplideSlide>
			<div class="resorts">
				<figure>
					<img src="images/Rectangle%20204.png" alt="Rectangle%20204" height="1079" />
				</figure>
				<div class="container">
					<div class="resorts-main">
						<div class="resorts-main-in">
							<p>FEATURED PROJECT</p>
							<h3>Bvlgari Resorts And Residences</h3>
							<h6>Jumeira Bay Island</h6>
							<a href="#!">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</SplideSlide>
		-->
	</Splide>
</div>