<script>
import { t } from "svelte-i18n";


	let activeTab = 't1';
</script>

<div class="popular">
	<div class="container">
		<div class="popular-main">
			<h2>{ $t('PopularDubaiAreasOne.popular-dubai-areas') }</h2>
			<p>
				{ $t('PopularDubaiAreasOne.select-an-apartment-villa-or-office-according-to-your-budget-and-requirements-in-the-dubai-areas-of-your-choice-our-wide-database-of') } <br />{ $t('PopularDubaiAreasOne.property-listings-makes-it-a-hassle-free-process-for-you-whether-its-arabian-ranches-downtown-jlt-or-jumeirah-we-can-help-you-find-your') }<br />
				{ $t('PopularDubaiAreasOne.dream-home-in-dubai') }	</p>
			<div class="tab">
				<div class="tab_links">
					<ul>
						<li class={activeTab === 't1' ? 'active' : ''}>
							<a href="#!" id="t1" on:click={() => (activeTab = 't1')}>{ $t('PopularDubaiAreasOne.bluewaters-island') }</a>
						</li>
						<li class={activeTab === 't2' ? 'active' : ''}>
							<a href="#!" id="t2" on:click={() => (activeTab = 't2')}>{ $t('PopularDubaiAreasOne.port-de-la-mer') }</a>
						</li>
						<li class={activeTab === 't3' ? 'active' : ''}>
							<a href="#!" id="t3" on:click={() => (activeTab = 't3')}>{ $t('PopularDubaiAreasOne.city-walk') }</a>
						</li>
						<li class={activeTab === 't4' ? 'active' : ''}>
							<a href="#!" id="t4" on:click={() => (activeTab = 't4')}>DOWNTOWN</a>
						</li>
					</ul>
				</div>

				<div class="tab_cnt_wrapper">
					<div class="bluewater t1 tab-anime {activeTab === 't1' ? 'show-tab' : 'hide-tab'}">
						<figure>
							<img
								src="images/bluewaterbg/850x565_0013_Blue%20Waters.png"
								alt="bluewaterbg"
								width="1640"
								height="629"
							/>
						</figure>
						<div class="bluewater-in">
							<h3>{ $t('PopularDubaiAreasOne.bluewaters-island-0') }</h3>
							<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
							<a href="#!">{ $t('HeroArea.learn-more') }</a>
						</div>
					</div>
					<div class="bluewater t2 tab-anime {activeTab === 't2' ? 'show-tab' : 'hide-tab'}">
						<figure>
							<img
								src="images/bluewaterbg/850x565_0013_Blue%20Waters.png"
								alt="bluewaterbg"
								width="1640"
								height="629"
							/>
						</figure>
						<div class="bluewater-in">
							<h3>{ $t('PopularDubaiAreasOne.port-de-la-mer-0') }</h3>
							<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
							<a href="#!">{ $t('HeroArea.learn-more') }</a>
						</div>
					</div>
					<div class="bluewater t3 tab-anime {activeTab === 't3' ? 'show-tab' : 'hide-tab'}">
						<figure>
							<img
								src="images/bluewaterbg/850x565_0013_Blue%20Waters.png"
								alt="bluewaterbg"
								width="1640"
								height="629"
							/>
						</figure>
						<div class="bluewater-in">
							<h3>{ $t('PopularDubaiAreasOne.city-walk-0') }</h3>
							<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
							<a href="#!">{ $t('HeroArea.learn-more') }</a>
						</div>
					</div>
					<div class="bluewater t4 tab-anime {activeTab === 't4' ? 'show-tab' : 'hide-tab'}">
						<figure>
							<img
								src="images/bluewaterbg/850x565_0013_Blue%20Waters.png"
								alt="bluewaterbg"
								width="1640"
								height="629"
							/>
						</figure>
						<div class="bluewater-in">
							<h3>{ $t('PopularDubaiAreasOne.downtown') }</h3>
							<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
							<a href="#!">{ $t('HeroArea.learn-more') }</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bat">
				<figure>
					<img src="images/1.png" alt="1" width="372" height="234" />
				</figure>
				<div class="bat-in">
					<h3>{ $t('PopularDubaiAreasOne.bluewaters-island-0') }</h3>
					<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
				</div>
			</div>
			<div class="bat">
				<figure>
					<img src="images/2.png" alt="2" width="372" height="234" />
				</figure>
				<div class="bat-in">
					<h3>{ $t('PopularDubaiAreasOne.port-de-la-mer') }</h3>
					<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
				</div>
			</div>
			<div class="bat">
				<figure>
					<img src="images/3.png" alt="3" width="372" height="234" />
				</figure>
				<div class="bat-in">
					<h3>{ $t('PopularDubaiAreasOne.city-walk') }</h3>
					<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
				</div>
			</div>
			<div class="bat">
				<figure>
					<img src="images/4.png" alt="4" width="372" height="234" />
				</figure>
				<div class="bat-in">
					<h3>DOWNTOWN</h3>
					<p>{ $t('PopularDubaiAreasOne.where-city-life-meets-nature') }</p>
				</div>
			</div>

			<a href="#!" class="area">{ $t('PopularDubaiAreasOne.more-areas') }</a>
		</div>
	</div>
</div>

<style>
	.show-tab {
		opacity: 1;
		visibility: visible;
	}

	.tab-anime {
		transition: all 0.3s ease-in-out;
		position: absolute;
	}

	.hide-tab {
		opacity: 0;
		visibility: hidden;
	}

	.tab_cnt_wrapper {
		overflow: hidden;
		height: 675px;
		position: relative;
	}
</style>
