<script>

import { t } from "svelte-i18n";

</script>
<div class="popular1">
	<div class="container">
		<div class="popular-in">
			<h3>{ $t('PopularDubaiAreasOne.popular-dubai-areas') }</h3>
			<ul class="clearfix">
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-marina') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.palm-jumeirah') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-land') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.city-walk-dubai') }</a></li>
				<li><a href="#!">DIFC</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.jumeriah-village-circle-jvc') }</a></li>
				<!-- <li class="br" /> -->
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-hills-estate') }</a></li>
				<li><a href="#!">{ $t('PopularDubaiAreasOne.bluewaters-island-0') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-creek-harbour') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.downtown-dubai') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.jumeriah-bay-island') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.arabian-ranches') }</a></li>
				<!-- <li class="br" /> -->
				<li><a href="#!">{ $t('PopularDubalAreasTwo.discovery-gardens') } </a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.sillicon-oasis') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.akoya-oxygen') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.downtown-jebel-ali') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.springs-dubai') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.business-bay') }</a></li>
				<!-- <li class="br" /> -->
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-south') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dubai-sports-city') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.ai-barsha') }</a></li>
				<li><a href="#!">{ $t('PopularDubalAreasTwo.dmac-hills') }</a></li>
			</ul>
		</div>
	</div>
</div>
