<script>

import { t } from "svelte-i18n";

</script>
<div class="sales">
	<div class="container">
		<div class="sales-in">
			<ul class="clearfix">
				<li>
					<a href="#!" class="act">{ $t('Sales.sales') }</a>
				</li>
				<li>
					<a href="#!" class="act1">{ $t('Sales.rentals') }</a>
				</li>
				<li>
					<a href="#!" class="act2">{ $t('Sales.explore') }</a>
				</li>
				<li>
					<a href="#!" class="act3">{$t('Sales.market-trends')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
