<script>
	import { Splide, SplideSlide } from '@splidejs/svelte-splide';
import { t } from 'svelte-i18n';

	const options = {
		type: 'slide',
		pagination: false,
		arrows: false,
		perPage: 3,
		drag: false,
		gap: '2rem',
		breakpoints: {
			767: {
				perPage: 1,
				drag: true,
				gap: '0rem'
			},
			1024: {
				perPage: 2,
				drag: true,
				gap: '0rem'
			},
			1400: {
				gap: '1rem'
			}
		}
	};
</script>

<div class="service">
	<div class="container">
		<div class="service-in">
			<h3>{ $t('Services.our-services') }</h3>
			<p>
				{ $t('Services.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit') }	</p>
			<div class="property">
				<div class="property-in">
					<div class="clearfix slider">
						<Splide {options}>
							<SplideSlide>
								<div style="width: 100%">
									<div class="manage">
										<div class="manage-in">
											<img src="images/img1.png" width="523" height="321" alt="img1" />
											<h6>{ $t('Services.property-management') }</h6>
										</div>
									</div>
								</div>
							</SplideSlide>

							<SplideSlide>
								<div style="width: 100%">
									<div class="manage">
										<div class="manage-in">
											<img src="images/img2.png" width="523" height="321" alt="img2" />
											<h6>{ $t('Services.property-investment') }</h6>
										</div>
									</div>
								</div>
							</SplideSlide>

							<SplideSlide>
								<div style="width: 100%">
									<div class="manage">
										<div class="manage-in">
											<img src="images/img3.png" width="523" height="321" alt="img3" />
											<h6>{ $t('Services.mortgage-advisor') }</h6>
										</div>
									</div>
								</div>
							</SplideSlide>
						</Splide>
					</div>
				</div>
			</div>

			<a href="#!">{ $t('Services.more-services') }</a>
		</div>
	</div>
</div>
