<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Best Real Estate Company</li>
                        </ul>
                    </div>
                    <h3>BEST REAL ESTATE COMPANY</h3>
                </div>
                <div class="estate-company-inner">
                    <div class="estate-company-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img1.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Dubai Large, No 1 Best Quality Brokerage</h4>
                                        <p>Property Finder - 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img1.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>UAE Best Property Video</h4>
                                        <p>Property Finder - 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img3.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Q1 Broker Award</h4>
                                        <p>Emaar - 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img4.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Annual Broker Award</h4>
                                        <p>Emaar - 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img5.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top Sales Agency</h4>
                                        <p>Grovy - 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img6.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Agency of the Year - 3rd</h4>
                                        <p>Bayut Dubizzle - 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img7.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Appreciation Award</h4>
                                        <p>Nshama - 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img8.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Certificate of Appreciation</h4>
                                        <p>Meraas - 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img9.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top performing broker</h4>
                                        <p>Meraas - 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img10.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Agency of the month</h4>
                                        <p>Bayut - 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img11.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Annual Channel Partner Award</h4>
                                        <p>Sobha - 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img12.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top Broker of the Year</h4>
                                        <p>Ellington - 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img13.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top Real Estate Company</h4>
                                        <p>Forbes - 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img14.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>UAE Best Brokerage</h4>
                                        <p>Property Finder - 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img15.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Silver Performer Award</h4>
                                        <p>Meraas - 2017</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img16.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Multaqa Jafza</h4>
                                        <p>Jafza - 2017</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img17.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>UAE Best Brokerage</h4>
                                        <p>Property Finder - 2017</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img18.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Most Artistic EDM</h4>
                                        <p>Emaar - 2017</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img19.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Highest Online Conversions</h4>
                                        <p>Property Finder - 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img20.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top Authentic Agency</h4>
                                        <p>Dubizzle - 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img21.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Best Brokerage Service</h4>
                                        <p>Property Finder - 2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img22.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Top Broker Award</h4>
                                        <p>Meraas - 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="estate-company-box">
                                    <div class="imahe-holder">
                                        <img src="images/company-brand-img23.jpg"  alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Agency of the month</h4>
                                        <p>Bayut - 2015</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="estate-company-accordion">
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2021 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body"></div>
                        </div>  
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2020 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Appreciation Award - <span>Nshama</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2019 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Annual Channel Partner Award - <span>Sobha</span></li>
                                    <li>Football League Winner -  <span>Bayut</span></li>
                                    <li>Certificate of Appreciation -  <span>Meraas</span></li>
                                    <li>Top Performing Broker Q3 - <span>Meraas</span></li>
                                    <li>The Most Efficient Agency -  <span>Dubizzle</span></li>
                                    <li>Highest Lead Scoring Brokerage -  <span>Property Finder</span></li>
                                    <li>UAE Best Brokerage -   <span>Property Finder</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2018 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Highest Lead Scoring Brokerage - <span>Property Finder</span></li>
                                    <li>UAE Best Brokerage -  <span>Property Finder</span></li>
                                    <li>2nd Best Performer -  <span>Meraas</span></li>
                                    <li>Top Broker Award - <span>Meraas</span></li>
                                    <li>Top Real Estate Company in Middle East -  <span>Forbes</span></li>
                                    <li>Top Broker of the Year -  <span>Ellington</span></li>
                                    <li>Most Engaging Channel Partner - <span>Sobha</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2017 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Certificate of Appreciation - <span> Dubai Properties</span></li>
                                    <li>Most Artistic EDM -  <span>Emaar</span></li>
                                    <li>UAE Best Brokerage -  <span>Property Finder</span></li>
                                    <li>Multaqa Jafza  - <span>Jafza</span></li>
                                    <li>Best Property Consultancy  -  <span>Shenzhen Real Estate Expo, China</span></li>
                                    <li>Outstanding Sales Achievement  -  <span>Dubai Properties</span></li>
                                    <li>Silver Performer Award  - <span>Meraas</span></li>
                                    <li>Agency of the month  - <span>Bayut</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2016 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Top Authentic Agency Award - <span> Dubizzle</span></li>
                                    <li>Highest Online Conversions Dubai Q1 -  <span>Property Finder</span></li>
                                    <li>Achievement Award Q1 -  <span>Dubai Properties</span></li>
                                    <li>Highly Commended Real Estate Agency  - <span>Arabian Property Awards 2015-2016</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2015 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Best Brokerage Service  - <span> Property Finder</span></li>
                                    <li>Most Popular Brokerage -  <span>Property Finder</span></li>
                                    <li>Agency of the Month   - <span>Bayut</span></li>
                                </ul>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card-head">
                                <a href="javascript:void(0)">2014 <span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Dubai’s Most Popular Broker  - <span> Property Finder</span></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>