<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Driven Properties Team</li>
                        </ul>
                    </div>
                    <h3>DRIVEN PROPERTIES TEAM</h3>
                </div>
                <div class="driven-team-inner">
                    <div class="image-holder">
                        <img src="images/driven-group-image.png" alt="" class="img-fluid" />
                    </div> 
                    <div class="driven-team-box">
                        <div class="text-box">
                            <h4>Get to know our Team</h4>
                            <p>Driven Properties was established in the year 2012 and has quickly grown to become a go-to developer for varied types of property searches. Within the short period, we have diversified our portfolio to deliver some of the best Dubai property options for the home buyers and renters in Dubai, looking for the best property advice, rental deals and irresistible offers on property purchases. Like being the first property company in the city to allow bitcoin-based property transactions, our company now has many specialist real estate agents.</p>
                        </div>
                         <div class="text-box">
                            <h4>Diverse property offerings</h4>
                            <p>Our team offers a diverse range of services, including real estate purchases in commercial and residential property markets as well as renting and leasing of properties. We also undertake property management services to make it easy for you to streamline your rental income. Besides these large-scale transactions, we also cater to interior design projects for houses big and small. All of these services have been possible due to our active team of varied demographics.</p>
                        </div>
                        <div class="text-box">
                            <h4>Leaders from various realms</h4>
                            <p>Each segment of Driven Properties is taken care of by dynamic leaders who are experts in various fields. We have a highly-skilled management team with professionals who are experienced in the Dubai real estate sector, the tourism industry, and others. Qualified in various domains and with the expertise in property marketing strategies, the team ensures that the buyers and the sellers can get the best value for the money spent. Real estate is a passion for the industry experts on our team. With this experience comes the understanding of the nuances of the property market. Therefore, whatever be the type of properties you are looking for or a holiday home for your vacations, you can be assured of nothing but the best recommendations.</p>
                        </div>
                        <div class="text-box">
                            <h4>Diversity in nationalities</h4>
                            <p>We have one of the most diverse corporate teams in the city. From our management team to operations, and even the consulting real estate agents in our team, we have a good mix of different members from different countries. Professionals from around the world, from countries like India, Africa, Japan, China, and others. With the varied nationalities come the amalgamation of the different cultures. The rich cultural diversity of our team comes the benefit of a better understanding of our customers. Dubai is a city that attracts buyers from different countries around the world. We understand different cultures and the requirements that people from different countries have while buying or renting properties in Dubai.</p>
                        </div>
                        <div class="text-box">
                            <h4>Diversity in languages</h4>
                            <p>With our experts handpicking all the best property deals with the understanding of market trends, there are experts who are fluent in languages like Arabic, French, Mandarin, Persian, Romanian, Russian, Urdu, and others besides English. You can, therefore, be assured of easy communication of your needs to help match your requirements with the right properties, well within your budget. Such diversity also allows our team to offer fully customized property solutions for all types of buyers and renters. We have clients communicating with our Dubai real estate agents from countries all around the globe. From acting as a single source of information for all first time buyers to let you know about the recent trends, we offer varied real estate solutions.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>