<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Client Testimonials</li>
                        </ul>
                    </div>
                    <h3>CLIENT TESTIMONIALS</h3>
                </div>
                <div class="teatimonial-inner">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user1.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Neena from Driven Properties is very professional in finding what we are exactly looking. She is highly skilled, and I will surely recommend her! <i class="fa fa-quote-right"></i></p>
                                    <h4>Neena Dordevic</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user2.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Excellent and most professional property consultant at Driven Properties. The transaction went through with no hurdles. Miss Sogol was very patient in showing lots of properties. I will highly recommend her if anyone is looking for a property in Dubai. <i class="fa fa-quote-right"></i></p>
                                    <h4>Sogol Eniavy</h4>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user3.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> I dealt with Darya, who is a patient and informative well educated real estate agent. I rented from her, and she took care of all paperwork and was on time thru the entire process. When calling Driven Properties for rent or sale, I strongly recommend Darya who should take good care of you <i class="fa fa-quote-right"></i></p>
                                    <h4>Darya Maslava</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user4.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Exceptional experience. Very high standard of service. Sabina is very friendly and professional consultant providing all the documents upfront and explained everything. I have moved 3 times in Dubai. However, for the first time, I felt the experience was easy and exciting. Driven properties is the best. Thank you <i class="fa fa-quote-right"></i></p>
                                    <h4>Sabina Valieva</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user5.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> I don’t usually write reviews, but I had to write one for the excellence of Driven Properties. I was moving into a new apartment, and after meeting so many agents, I was blessed to meet Katia from Driven Properties. The agent was persistent to make the process very easy going and smooth I highly recommend consulting Driven Properties if you’re planning to move. <i class="fa fa-quote-right"></i></p>
                                    <h4>Katia Abu Asaf</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user6.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Thank you, Darya, for helping me in finding the best apartment in Dubai in a short period. You are highly experienced and very professional. I will surely recommend her to anyone who is looking for a new home in Dubai. <i class="fa fa-quote-right"></i></p>
                                    <h4>Darya Maslava</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user7.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Lina Allaoa, the Sales Director of Driven Properties, is always accessible. She delivers excellent options for you and your family. She is very professional and highly – skilled agent and guide you with everything. Lina keep up the good work.  <i class="fa fa-quote-right"></i></p>
                                    <h4>Lina Allaoa</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user8.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> I strongly recommend Mr Hussien Nazif from Driven Properties. He is super professional, honest and patient. He helped me to find out the right place taking care of my requirements. If you need help with your next accommodation, Mr Hussien is the right person to contact.  <i class="fa fa-quote-right"></i></p>
                                    <h4>Hussien Nazif</h4>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user9.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Leila Shugri is a highly-skilled consultant, who co-ordinated the deal from Driven Properties. She worked extremely hard, and went out of the way to ensure a smooth transaction, and ensured that the interests of both buyer and seller were maintained.  <i class="fa fa-quote-right"></i></p>
                                    <h4>Leila Shugri</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teatimonial-box">
                                <div class="image-holder">
                                    <img src="images/testmonial-user10.jpg" alt="" class="img-fluid" />
                                </div>
                                <div class="text-box">
                                    <p><i class="fa fa-quote-left"></i> Alok is the best and highly – skilled real estate agent at Driven Properties. My family used his rent services twice, and both times it was professional and efficient. Alok would always consider 100% of the client's requirements and will do his best to meet them. As a result, we love our new apartment very much! <i class="fa fa-quote-right"></i></p>
                                    <h4>Alok Bhargava</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>