<!-- 
    https://dev.drivenproperties.com/driven-properties-international
-->

<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Driven Properties International</li>
                        </ul>
                    </div>
                    <h3>DRIVEN PROPERTIES INTERNATIONAL</h3>
                </div>
                <div class="leadership-team-inner driven-properties"> 
                    <div class="team-detail"> 
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/driven-properties-img1.jpg" alt="" class="img-fluid" />
                                        <h4>China</h4>
                                    </div>
                                    <div class="text-box">
                                        <h4>Thomas Wan</h4>
                                        <p>Associate Partner</p>
                                        <strong>+971 4 429 7040</strong>
                                        <p>thomasw@drivenproperties.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/driven-properties-img2.jpg" alt="" class="img-fluid" />
                                        <h4>Korea</h4>
                                    </div>
                                    <div class="text-box">
                                        <h4>Clint Park</h4>
                                        <p>Director - Business Development</p>
                                        <strong>+971 54 994 1595</strong>
                                        <p>clint@drivenproperties.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/driven-properties-img3.jpg" alt="" class="img-fluid" />
                                        <h4>Japan</h4>
                                    </div>
                                    <div class="text-box">
                                        <h4>Hussien Nazif</h4>
                                        <p>Property Consultant</p>
                                        <strong>+971 52 493 0650</strong>
                                        <p>hussien@drivenproperties.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/driven-properties-img4.jpg" alt="" class="img-fluid" />
                                        <h4>Africa</h4>
                                    </div>
                                    <div class="text-box">
                                        <h4>Fatma Hashim</h4>
                                        <p>Associate Partner</p>
                                        <strong>+971 55 228 3754</strong>
                                        <p>fatma@drivenproperties.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="team-box">
                                    <div class="image-holder">
                                        <img src="images/driven-properties-img5.jpg" alt="" class="img-fluid" />
                                        <h4>KSA</h4>
                                    </div>
                                    <div class="text-box">
                                        <h4>Vitaly Shugri</h4>
                                        <p>KSA - Manager</p>
                                        <strong>+971 50 280 8242</strong>
                                        <p>vitaly@drivenproperties.com</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>