<script>
	import GridView from '$lib/comps/common/GridView.svelte';
    import IndentedText from '$lib/comps/common/IndentedText.svelte';
</script>


<section class="apartment-plan-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="apartment-heading">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="active">Off Plan Apartments</li>
                        </ul>
                    </div>
                    <h3>OFF PLAN APARTMENTS</h3>
                </div>
                <div class="apartment-plan-inner">

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img1.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Peninsula </h4>
                                        <p>Business Bay </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img2.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Harrington House</h4>
                                        <p>Jumeirah Village Circle </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img3.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Marina Sands At Emaar Beachfront</h4>
                                        <p>Dubai Harbour </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img4.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Five JBR Serviced Apartments </h4>
                                        <p>Jumeirah Beach Residence </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img5.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>One Palm Dorchester Collection </h4>
                                        <p>Palm Jumeirah </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img6.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Imperial Avenue </h4>
                                        <p>Downtown Dubai  </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img7.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Urban Oasis by Missoni </h4>
                                        <p>Business Bay </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img8.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>La Sirene Port de La Mer</h4>
                                        <p>Port de La Mer  </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img9.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Kensington Waters</h4>
                                        <p>Mohammed Bin Rashid City</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img10.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Atlantis The Royal Residences</h4>
                                        <p>Palm Jumeirah </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img11.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>AG Tower</h4>
                                        <p>Business Bay  </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img12.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>15 Northside</h4>
                                        <p>Business Bay </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img13.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Binghatti Point</h4>
                                        <p>Dubai Silicon Oasis  </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img14.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>SLS Dubai Residences</h4>
                                        <p>Downtown Dubai </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img15.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Creek Palace </h4>
                                        <p>Dubai Creek Harbour</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img16.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>The Residences Dorchester Collection</h4>
                                        <p>Business Bay Dubai</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img17.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Collective 2</h4>
                                        <p>Dubai Hills Estate </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img18.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Grande Signature Residences </h4>
                                        <p>Downtown Dubai </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img19.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Beach Isle at Emaar Beachfront</h4>
                                        <p>Dubai Harbour </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img20.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Rigel at Jumeirah Village Circle</h4>
                                        <p>Jumeirah Village Circle </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="apartment-plan-box">
                                <a href="#">
                                    <div class="image-holder">
                                        <img src="images/apartment-plan-img21.jpg" alt="" class="img-fluid" />
                                    </div>
                                    <div class="text-box">
                                        <h4>Elite Business Bay</h4>
                                        <p>Business Bay  </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pag-media">
                        <p>results 1 - 21 | 214</p>
                        <div class="pagination m-0">
                            <ul>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="apartment-plan-info">
                        <div class="text-box">
                            <h4>OFF PLAN APARTMENTS IN DUBAI - THE RIGHT CHOICE</h4>
                            <p>Dubai is one of the most attractive real estate markets that exist in the entire continent of Asia. Its stable economy, rapid development, organized real estate market, and robust administration makes it a heaven for real estate investors. For investments, the off-plan apartments in Dubai present a unique and lucrative opportunity. By their definition in the Dubai real estate market, the off-plan apartments are properties that are at the pre-construction phase and the investor can get some exceptional deals on these. The Dubai Off plan apartments for sale can be invested in regardless of any individual’s experience level as an investor, thanks to the transparent and prompt acting legal system that regulates it. The Off plan projects usually come with great benefits including the option of buying Off plan apartments in Dubai at attractive prices and in prime locations.</p>
                            <p>Out of the many Off plan apartments for sale in Dubai, the off-plan properties are usually considered the ones that provide the best return over investments. The off plan apartments for sale can get one an apartment to invest in areas where costing of existing apartments may seem out of reach. With Driven Properties, one can invest in some of the most reputed Dubai off-plan projects. The excellent returns on the Dubai off-plan apartments and the minimum risk are the perfect mix to evaluate and invest without a doubt in Off Plan projects in Dubai with assistance from the team of Driven Properties.</p>
                        </div>
                        <div class="text-box">
                            <h4>FAQ ON OFF PLAN APARTMENTS IN DUBAI</h4>
                            <ul>
                                <li>
                                    <h5>What is an off-the-plan apartment in Dubai?</h5>
                                    <p>An off-plan apartment in Dubai that is not ready for possession yet and is at construction or pre-construction phase, with the promise of delivery in the near future by the real estate developer.</p>
                                </li>
                                <li>
                                    <h5>What are the benefits of buying an off-plan apartment in Dubai?</h5>
                                    <p>The off-plan apartments provide generally better value for money as the realtor can offer lucrative deals. Once you have the apartment you can get tax-free income, great infrastructure, and a financial asset.</p>
                                </li>
                                <li>
                                    <h5>Is it cheaper to buy an off-plan apartment in Dubai?</h5>
                                    <p>Yes, an off plan apartment is usually offered cheaper than the new or pre-owned apartments. One can also get some extra facilities such as complimentary gym membership, swimming pool access, club access, and other benefits included in the deal.</p>
                                </li>
                                <li>
                                    <h5>How do you buy an off-plan apartment?</h5>
                                    <p>Browsing the websites of well-known real estate dealers such as Driven Properties is a great starting place. Once you have selected the apartment you can move forward with a site visit and finally booking through a manager’s cheque to the Dubai Land Department.</p>
                                </li>
                                <li>
                                    <h5>Which is the popular locations to buy an off plan apartment for sale in Dubai?</h5>
                                    <p>Some of the popular locations for off-plan apartments in Dubai include Dubai Hills Estate, Palm Jumeirah, Jumeirah Village Circle, Downtown Dubai, Dubai Marina, Dubai Al Ain road, Damac Hills, etc.</p>
                                </li>
                            </ul>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<GridView />
<IndentedText />
-->